.bd{
    background-color: #cdd1ce!important;
}

#profile-wrapper {
    text-align: center;
}

#prifile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.social-links ul, li {
    list-style-type: none;
    display: inline-block;
}

.social{
    width: 20px;
    height: 20px;
}

/* Для маленьких екранів (мобільні телефони) */
@media (max-width: 576px) {
    #prifile-pic {
        width: 100px;
        height: 100px;
    }

    .social {
        width: 15px;
        height: 15px;
    }

    .card-body {
        padding: 10px;
    }
}

/* Для середніх екранів (планшети) */
@media (min-width: 576px) and (max-width: 768px) {
    #prifile-pic {
        width: 120px;
        height: 120px;
    }

    .social {
        width: 18px;
        height: 18px;
    }

    .card-body {
        padding: 15px;
    }
}

/* Для великих екранів (ноутбуки і більші екрани) */
@media (min-width: 992px) {
    #prifile-pic {
        width: 150px;
        height: 150px;
    }

    .social {
        width: 20px;
        height: 20px;
    }

    .card-body {
        padding: 20px;
    }
}